#search-area {
    float: right;
}

#search-area {
    margin-right: 100px;
    margin-top: 50px;
}

#baller-input {
    width: 200px;
}

.gif {
    max-width: 250px;
}

#gif-div {
    margin: 50px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 75px;
    grid-row-gap: 75px;
}